:root {
  --mainPurple: #5427b8;
  --rgbPurple: 84, 39, 184;
  --darkPurple: #30175e;
  --rgbDarkPurple: 48, 23, 94;
  --mainDark: #191919;
  --rgbDark: 25, 25, 25;
  --mainSilver: #d8d8f6;
  --rgbSilver: 216, 216, 246;
  --mainLavander: #cbc8f3;
  --rgbLavander: 203, 200, 243;
  --mainWhite: #f2f2f2;
}
